:root {
    --rose-50: #fff1f2;
    --rose-100: #ffe4e6;
    --rose-200: #fecdd3;
    --rose-300: #fda4af;
    --rose-400: #fb7185;
    --rose-500: #f43f5e;
    --rose-600: #e11d48;
    --rose-700: #be123c;
    --rose-800: #9f1239;
    --rose-900: #881337;
}

::selection {
    background-color: var(--rose-500);
    color: #FFF;
}

button {
    user-select: none;
}

button:focus {
    outline: none;
}

.app {
    width: 350px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-self: center;

    text-align: center;
}

.app-header {
    font-size: 1.2rem;
    font-weight: 500;
    word-spacing: -0.1rem;

    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 100%;

    color: #FFF;

    background-color: var(--rose-500);
    border-bottom: 1px solid var(--rose-400);
}

.app-body {
    overflow-y: auto;
}

/* Tango Card  */

.tango-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
    padding-top: 20px;
}

.btn-benkyou {
    border-radius: 5px;
    border: none;
    background-color: var(--rose-500);
    font-size: 1.2rem;

    margin-top: 10px;

    color: #FFF;

    padding: 10px;

    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
}

.btn-benkyou:hover {
    background-color: var(--rose-600);
    transition: all 0.1s ease-out;
}

.tango-cards h2 {
    margin-bottom: 20px;
}

/* Pie chart */

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.pie-animate {
    animation: p 1s .5s both;
}

.pie-no-round:before {
    background-size: 0 0, auto;
}

.pie-no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

/* Stats */

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats h2 {
    margin-bottom: 20px;

    font-size: 1.2rem;
}

.stat-container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.stat-container {
    display: flex;
    flex-direction: column;

    background-color: var(--rose-100);
    padding: 10px;
    border-radius: 5px;
}

.stat-container__number {
    font-size: 1.5rem;
    font-weight: 500;
}

.stat-container__text {
    font-size: 1rem;
    font-weight: 500;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--rose-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--rose-600)
}